.container-BrowsePageHeader {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container-BrowsePageSection {
    margin-top: -6rem;
}

.container-BrowsePageFooter {
    text-align: justify;
    text-align: center;
}

.container-BrowsePageFooter p a {
    color: white;
}