.container-Login {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-Login .nav-Login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-Login .nav-Login .nav-LoginLogo img {
    margin: 0.8rem 0 0 3rem;
    filter: brightness(1.5);
}

.section-Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.form-Login input {
    margin: 10px;
    outline: 0;
}

.form-Login .form-LoginUser {
    width: 15rem;
    height: 2rem;
}

.form-Login .form-LoginUser::placeholder {
    padding-left: 0.2rem;
}

.form-Login .form-LoginSubmit {
    width: 5rem;
    height: 2.1rem;
    background-color: rgb(243, 20, 20);
    border-width: 0;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    opacity: 1;
    transition: all ease 0.2s;
}

.form-Login .form-LoginSubmit:hover {
    background-color: white;
    color: black;
}