.container-BrowseLoading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.spinner {
    width: 2.5rem;
    height: 2.5rem;
    border: 8px solid #141414;
    border-left-color: rgb(243, 20, 20);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}