.container-Welcome {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-Welcome .nav-Welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-Welcome .nav-Welcome .nav-WelcomeLogo img {
    margin: 0.8rem 0 0 3rem;
    filter: brightness(1.5);
}

.header-Welcome .nav-Welcome .nav-WelcomeItems {
    padding: 0 2.5rem;
}

.header-Welcome .nav-Welcome .nav-WelcomeItems ul {
    list-style: none;
}

.header-Welcome .nav-Welcome .nav-WelcomeItems ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2.2rem;
    background-color: rgb(243, 20, 20);
    color: white;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}

.section-Welcome {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-Welcome h1 {
    font-size: 3rem;
}

.footer {
    text-align: justify;
    text-align: center;
}

.footer p a {
    color: white;
}