* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

.container {
    color: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .logo {
    margin: 0.8rem 0 0 3rem;
}

.nav .logo img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav .nav-items {
    margin: 0 2rem;
}

.nav .nav-items ul li {
    list-style-type: none;
}

.nav .nav-items ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgb(243, 20, 20);
    color: white;
    width: 5rem;
    height: 2.2rem;
    border-radius: 3px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 3rem;
}

.title .form {
    margin: 2.5rem;
    filter: brightness(.8) contrast(1.5);
}

.title .form .email {
    width: 25rem;
    height: 3.5rem;
    background-color: white;
    border-width: 0;
    font-size: 2rem;
}

.title .form .submit {
    font-family: Arial, Helvetica, sans-serif;
    width: 15rem;
    height: 3.5rem;
    background-color:  rgb(243, 20, 20);
    color: white;
    border-width: 0;
    font-size: 2rem;
}

.info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}

@media (max-width: 1000px) {
    
    .title .form .submit {
        margin: 2rem;
        width: 8.5rem;
        height: 2.5rem;
        font-size: 1rem;
        border-radius: 3px;
    }

}

@media (max-height: 590px) {

    .info {
        position: relative;
    }

}